# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/

# Виртуальное окружение
.venv/
venv/
env/

# IDE
.idea/
.vscode/

# Сборки и бинарники (PyInstaller / Inno Setup)
build/
dist/
installer-output/
*.spec

# Временные файлы
*.log
.DS_Store

# Локальные данные
crosshair_settings.json
